.item {
  text-align: center;
  padding: 0;
  background: #39a2db;
}

.item hr {
  border: 0;
  height: 0;
  width: 85%;
  color: #e8f0f2;
  border-top: 1px solid;
  margin:0 auto;
}

.item p {
  font-weight: bold;
  color: #e8f0f2;
  font-size: 2rem;
}

.item-side {
  line-height: 2rem;
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  color: #e8f0f2;
  background: #095c6f;
  height: 2rem;
}

.item:hover{
    background: #3190c2;
}
